.hero {
  background: url('../images/hero-background-mobile.svg') no-repeat center/cover;
  padding-top: 110px;
  padding-bottom: 165px;
  @media (min-width: 992px) {
    background: url('../images/hero-background.svg') no-repeat center/cover;
    height: 906px;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: 992px) {
      flex-direction: row;
    }
    @media (min-width: 1220px) {
      max-width: 1220px;
      margin: 0 auto 0 165px;
    }
    @media (min-width: 1441px) {
      margin: 0 auto;
    }
  }
  &__content {
    max-width: 455px;
  }
  &__title {
    font-weight: 400;
    color: $white;
    font-size: toRem(28);
    @media (min-width: 992px) {
      font-size: toRem(49);
    }
  }
  &__info {
    font-weight: 500;
    line-height: 178%;
    color: $white;
    margin-top: toRem(22);
    font-size: toRem(12);
    @media (min-width: 992px) {
      font-size: toRem(18);
    }
  }
  &__image {
    width: 100%;
  }
}
.advantages {
  padding-top: 57.5px;
  padding-bottom: 57.5px;
  @media (min-width: 992px) {
    padding-bottom: 80px;
    padding-top: 0px;
    margin-top: -120px;
  }
  &__slider {
    .slick-slide {
      @media (min-width: 992px) {
        margin-top: 42px;
      }
    }
    .slick-prev, .slick-next {
      width: 20px;
      height: 35px;
      background: url('../images/arrow-slider.svg');
      &:hover {
        color: none;
        background: url('../images/arrow-slider.svg');
      }
      &::before {
        content: "";
      }
    }
    .slick-prev {
      display: none $imp;
    }
    .slick-next {
      display: none $imp;
      @media (min-width: 1100px) {
        display: block $imp;
        right: -75px;
      }
    }
    .slick-dots {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }
}
.sales-simulator {
  background: url('../images/simulator-background-mobile.png');
  padding-top: toRem(40);
  padding-bottom: toRem(45);

  @media (min-width: 992px) {
    background: url('../images/simulator-background.png');
    padding-top: toRem(142);
    padding-bottom: toRem(149);
  }

  &__container {
    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 371px 1fr;
      gap: toRem(65);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(28);
  }
}
.testimonials {
  margin-top: 60px;
  margin-bottom: 60px;
  @media (min-width: 992px) {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  &__title {
    text-align: center;
  }
  &__info {
    text-align: center;
    margin-top: toRem(8);
  }
  &__slider {
    margin-top: toRem(70);
    .slick-slide {
      margin: 60px 27px 0 27px;
    }
    .slick-list {
      margin: 0 -27px;
    }
  }
}
.create-account {
  margin-top: 60px;
  margin-bottom: 60px;
  @media (min-width: 992px) {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(40);
    @media (min-width: 992px) {
      flex-direction: row;
      gap: toRem(125);
    }
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(25);

    @media (min-width: 992px) {
      max-width: 433px;
    }

    &-submit {
      margin-top: toRem(38);
      background-color: $purple-800;
      font-weight: 500;
      letter-spacing: 0.4px;
      color: $white;
      font-size: toRem(14);
      padding: toRem(10) toRem(34);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      @media (min-width: 992px) {
        align-self: flex-start;
      }
    }
  }
}
