.testimonials {
  &__title {
    text-align: center;
  }
  &__info {
    text-align: center;
    margin-top: toRem(8);
  }
  &__slider {
    margin-top: toRem(70);
    .slick-slide {
      margin: 60px 27px 0 27px;
    }
    .slick-list {
      margin: 0 -27px;
    }
    .slick-dots {
      bottom: -40px;
      li {
        margin: 0 4px 0 0;
        button {
          padding: 0;
          &::before {
            font-size: 12px;
            color: $gray-600;
            opacity: 1;
          }
        }
        &.slick-active {
          button {
            &::before {
              font-size: 16px;
              color: $purple-500;
            }
          }
        }
      }
    }
  }
}
.create-account {
  margin-top: 120px;
  margin-bottom: 100px;
  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(40);
    @media (min-width: 992px) {
      flex-direction: row;
      gap: toRem(125);
    }
  }
  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(25);

    @media (min-width: 992px) {
      max-width: 433px;
    }

    &-submit {
      margin-top: toRem(38);
      background-color: $purple-800;
      font-weight: 500;
      letter-spacing: 0.4px;
      color: $white;
      font-size: toRem(14);
      padding: toRem(10) toRem(34);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      @media (min-width: 992px) {
        align-self: flex-start;
      }
    }
  }
}
