.form-select {
  appearance: none;
  font-size: toRem(12);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
  border: 1px solid $gray-500;
  height: toRem(38);
  color: $gray-600;
  position: relative;
}
