// Base Colors
$white: #FFF;


// White
$white-500: #FAFAFA;

// Black
$black-700: #333333;

// Gray
$gray-400: #F8F8F8;
$gray-500: #D8D6DE;
$gray-600: #B9B9C3;
$gray-800: #6F6F6F;

// Purple
$purple-300: #5E5873;
$purple-500: #7367F0;
$purple-800: #7D45DC;


// Fonts
$mulish: 'Mulish', sans-serif;
